<!DOCTYPE html>
<html>
<head>
  <title>Organisationarchitecture</title>
  <%= stylesheet_link_tag    'Ocharts'%>
  <%= javascript_include_tag 'angular/angular.min','angular/app' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
