<!DOCTYPE html>
<html>
<head>
  <title>Organisationarchitecture</title>
  <%= stylesheet_link_tag    'employee/bootstrap.min','employee/style.css'%>
  <%= javascript_include_tag 'employee/angular.min','employee/app' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
